/* root */

* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}

/* main */

.login {
  align-items: center;
  background-color: #201b2c;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

/* seção da esquerda */

.sectionIntro {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}



.intro__card h1, p {
  color: #77ffc0;
  font-size: 3vw;
}

.intro__img {
  width: 35vw;
}

/* seção da direita  */

.sectionForm {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.form__card {
  align-items: center;
  background-color: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px;
  width: 60%;
}

.form__card h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.form__input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.form__input input {
  background-color: #514869;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
  color: #f0ffffde;
  font-size: 12pt;
  outline: none;
  padding: 15px;
  width: 100%;
}

.form__input label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.form__input input::placeholder {
  color: #f0ffff94;
}

.form__button {
  background-color: #00ff88;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  color: #2b134b;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 25px;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 100%;
}